<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TVApplicationRevision</key>
	<integer>30141</integer>
	<key>TVApplicationVersion</key>
	<string>6.6b1</string>
	<key>TVDocumentFormatVersion</key>
	<string>3.200</string>
	<key>TVHardwareModel</key>
	<string>MacBookPro18,2</string>
	<key>TVMacOSVersion</key>
	<string>Version 14.2 (Build 23C64)</string>
	<key>TVPhysicalMemory</key>
	<string>64.00 GB</string>
	<key>TVProcessorCount</key>
	<integer>10</integer>
</dict>
</plist>
